@model ERP.WebUI.Models.CGInfoViewModel

@{
  ViewBag.Title = "CG:Read " + Model.cg.iID;
  Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

<div class="panel">
  <div class="panel-heading">
    @Html.ActionLink("返回列表", "List", null, new { @class = "btn btn-default" })
  </div>
  <div class="panel-body row">
    @*CG模型相关数据*@
    @Html.HiddenFor(m => m.cg.iID)
    <div class="input-group col-sm-6">
      <span class="input-group-addon">@Html.DisplayNameFor(m => m.cg.SupplierName)</span>
      @Html.TextBoxFor(m => m.cg.SupplierName, null, new { @class = "form-control", maxlength = 100 })
    </div>
    <div class="input-group col-sm-6">
      <span class="input-group-addon">@Html.DisplayNameFor(m => m.cg.HumanName)</span>
      @Html.TextBoxFor(m => m.cg.HumanName, null, new { @class = "form-control", maxlength = 100 })
    </div>
    <div class="input-group col-sm-6">
      <span class="input-group-addon">@Html.DisplayNameFor(m => m.cg.Time)</span>
      @Html.TextBoxFor(m => m.cg.Time, null, new { @class = "form-control", maxlength = 100 })
    </div>
    <div class="input-group col-sm-6">
      <span class="input-group-addon">@Html.DisplayNameFor(m => m.cg.Total)</span>
      @Html.TextBoxFor(m => m.cg.Total, null, new { @class = "form-control", maxlength = 100 })
    </div>
    @*Item模型相关数据*@
    <div class="input-group col-sm-12">
      <table class="table table-bordered">
        <tbody class="table-striped" id="tablebody">
          <tr>
            <th>产品</th>
            <th>数量</th>
            <th>单价</th>
            <th>小计</th>
          </tr>
          @foreach (var item in Model.Items)
          {
            <tr>
              <td>@Html.DisplayTextFor(m => item.ProductName)</td>
              <td>@Html.DisplayTextFor(m => item.Quantity)</td>
              <td>@Html.DisplayTextFor(m => item.Price)</td>
              <td>@Html.DisplayTextFor(m => item.Cost)</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    @*备注信息*@
    <div class="input-group col-sm-12">
      <span class="input-group-addon">@Html.DisplayNameFor(m => m.cg.Description)</span>
      @Html.TextAreaFor(m => m.cg.Description, new { @class = "form-control", maxlength = 100, rows = 5 })
    </div>
  </div>
</div>
