@model ERP.Domain.Entities.Customer

@{
  ViewBag.Title = "Customer:Info " + Model.Name;
  Layout = "~/Views/Shared/_InfoLayout.cshtml";
}

<div class="panel">
  @using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="panel-heading">
      @*隐藏提交按钮*@
      @if (ViewBag.Operate != "read")
      {
        <input type="submit" value="保存" class="btn btn-primary" />
      }
      @Html.ActionLink("取消并返回列表", "List", null, new { @class = "btn btn-default" })
    </div>
    <div class="panel-body row">
      @Html.ValidationSummary()
      @Html.HiddenFor(m => m.ID)
      @*利用元数据属性生成输入框*@
      @foreach (var property in ViewData.ModelMetadata.Properties)
      {
        switch (property.PropertyName)
        {
          case "ID":
            break;
          case "Description":
            <div class="input-group col-sm-12">
              <span class="input-group-addon">@(property.DisplayName ?? property.PropertyName)</span>
              @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 7, maxlength = 500 })
            </div>
            break;
          default:
            <div class="input-group col-sm-12">
              <span class="input-group-addon">@(property.DisplayName ?? property.PropertyName)</span>
              @Html.TextBox(property.PropertyName, null, new { @class = "form-control", maxlength = 100 })
            </div>
            break;
        }
      }
    </div>
  }
</div>

